.wrapper {
  padding: 200px;
  text-align: center;
}

.preloader:before {
  content: "12345678910";
  position: absolute;
  z-index: 1;
  font: bold 3em/1 Times;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 0.5em;
  height: 1em;
  overflow: hidden;
  animation: timing 10s infinite step-end;
  text-shadow: 0 0 4px rgba(0,0,0,0.5);
}
.preloader {
  display: inline-block;
  width: 300px;
  height: 300px;
  position: relative;
	font-size: 40px;
}
.preloader__inner {
  border-radius: 50%;
  background-image: radial-gradient(#7F7F7F, #494949);
  width: 100%;
  height: 100%;
  position: relative;
}
.preloader__half {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}
.preloader__half--left {
  left: 0;
}
.preloader__half--right {
  right: 0;
}
.preloader__circle {
  border-radius: 50%;
  border: 20px solid rgba(0, 65, 245, 0.7);
  width: 200%;
  height: 100%;
  position: absolute;
}
.preloader__circle--left {
  border-right-color: transparent;
  border-bottom-color: transparent;
  animation: rotate-left 10s linear infinite;
}
.preloader__circle--right {
  border-left-color: transparent;
  border-bottom-color: transparent;
  right: 0;
  animation: rotate-right 10s linear infinite;
}

@keyframes timing {
  10%{
   text-indent: -.5em;
   }
  20%{
   text-indent: -1em;
   }
  30%{
   text-indent: -1.5em;
   }
  40%{
   text-indent: -2em;
   }
  50%{
   text-indent: -2.5em;
   }
  60%{
   text-indent: -3em;
   }
  70%{
   text-indent: -3.5em;
   }
  80%{
   text-indent: -4em;
   }
  90%{
   text-indent: -4.5em;
   width: 1em;
   }
}
@keyframes rotate-right {
  0% {
    transform: rotateZ(-135deg);
  }
  10% {
    transform: rotateZ(-99deg);
  }
  20% {
    transform: rotateZ(-63deg);
  }
  30% {
    transform: rotateZ(-27deg);
  }
  40% {
    transform: rotateZ(9deg);
  }
  50% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(45deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotateZ(135deg);
  }
  50% {
    transform: rotateZ(135deg);
  }
  60% {
    transform: rotateZ(171deg);
  }
  70% {
    transform: rotateZ(207deg);
  }
  80% {
    transform: rotateZ(243deg);
  }
  90% {
    transform: rotateZ(279deg);
  }
  100% {
    transform: rotateZ(315deg);
  }
}

