* {
    box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
}
body {
  height: 100%;
  color: #444;
  font-family: Roboto, Arial, sans-serif;
}
.wrapper {
  min-height: 100%;
}
header {
	padding-bottom: 70px;
}
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0px 15px;
}
.row {
	margin: 0 -15px;
}

.status-bar {
	border: 1px solid gray;
	box-shadow: 1px 1px 2px gray;
}

. {
	 background-position: -111px -36px;
	float: left;
	
}

.status-bar__row {
	min-height: 50px;
	position: relative;
}
.status-bar--element {
	padding: 5px;
	position: relative;
}

.block {
	display: inline-block;
	position: relative;
}

.element1 {
	background: url(../image/SVG-icons.png) no-repeat;
	height: 41px;
	width: 38px;
	height: 41px;
	width: 38px;
}
.element2 {
	position: absolute;
  left: 60px;
	top: 19px;
	color: gray;
}
.element3 {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #fff;
	padding: 10px 10px;
	background-color: green;
	border-radius: 4px;
}
.pos {
	background-position: -113px -37px;
}

.mod-1 {
	background-color: orangered
}

.pos-2 {
	background-position: -113px -75px;
}
.mod-2 {
	background-color: red;  
}
.pos-3 {
	background-position: 0px -147px;
}
.p-width {
	padding: 0 110px 0 0;
}

.status-bar--element {
	border-bottom: 1px solid gray;
}
.pointer {
	cursor: pointer;
}

/*-----------------*/
.circle {
	position: relative;
	left: 35%;
	margin-top: 100px;
}
/*-------------------*/

.rotate-shadows {
  width: 220px;
  height: 220px;
  position: relative;
}
.rotate-shadows:after,
.rotate-shadows:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center center;
}
.rotate-shadows:before {
  box-shadow: inset 0 20px 0 rgba(0, 250, 250, 0.6), inset 20px 0 0 rgba(0, 200, 200, 0.6), inset 0 -20px 0 rgba(0, 150, 200, 0.6), inset -20px 0 0 rgba(0, 200, 250, 0.6);
  animation: rotate-before 2s -0.5s linear infinite;
}
.rotate-shadows:after {
  box-shadow: inset 0 20px 0 rgba(250, 250, 0, 0.6), inset 20px 0 0 rgba(250, 200, 0, 0.6), inset 0 -20px 0 rgba(250, 150, 0, 0.6), inset -20px 0 0 rgba(250, 100, 0, 0.6);
  animation: rotate-after 2s -0.5s linear infinite;
}
@keyframes rotate-after {
  0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
  50% {transform: rotateZ(180deg) scaleX(0.82) scaleY(0.95);}
  100% {transform: rotateZ(360deg) scaleX(1) scaleY(1);}
}
@keyframes rotate-before {
  0% {transform: rotateZ(0deg) scaleX(1) scaleY(1);}
  50% {transform: rotateZ(-180deg) scaleX(0.95) scaleY(0.85);}
  100% {transform: rotateZ(-360deg) scaleX(1) scaleY(1);}
}








