* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  color: #595959;
}

.wrapper {
  min-height: 100%;
}

.container {
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  padding: 0px 15px;
}

.info {
  margin: 150px 0;
}

.info-block {
  border: 1.5px solid #E9E6E6;
  box-shadow: 2px 0px 22px 6px rgba(0, 0, 0, 0.15);
}

.info-block__row {
  border-bottom: 1.5px solid #E9E6E6;
  padding: 10px;
}

.info-block__row:last-child {
  border: none;
}

.info__sprite {
  float: left;
  display: inline-block;
}

.info__text {
  display: inline-block;
}

.info__special {
  display: inline-block;
  float: right;
}

.sprite-window {
  background-image: url(../images/SVG-icons.png);
  height: 35px;
  width: 35px;
  float: left;
  margin-left: 15px;
}

.text-position {
  float: left;
  padding: 10px;
}

.special__indicator {
  padding: 10px 15px;
  border-radius: 5px;
  color: #fff;
  float: right;
}

.window--pos-top {
  background-position: -112px -40px;
}

.window--pos-middle {
  background-position: -110px -77px;
}

.window--pos-bottom {
  background-position: -0px -150px;
}

.indicator--color-top {
  background-color: green;
}

.indicator--color-middle {
  background-color: orange;
}

.indicator--color-bottom {
  background-color: orangered;
}

.text-position--size {
  margin-top: -35px;
  margin-left: 50px;
  margin-right: 80px;
}


/*----- Circle shadow block -----*/

.circle {
  border-radius: 50%;
  background-image: radial-gradient(green, red, black);
  background-size: 7px 7px;
  background-repeat: repeat;
  box-shadow: inset -2px 20px 5px rgba(26, 182, 28, 0.8), inset -21px 0px 5px rgba(168, 28, 181, 0.8), inset 0px -18px 5px rgba(64, 77, 219, 0.8), inset 22px -2px 5px rgba(64, 235, 144, 0.8), inset 17px 22px 5px rgba(196, 219, 64, 0.8), inset -16px -23px 5px rgba(224, 167, 64, 0.8);
  margin: 0 auto;
  height: 300px;
  width: 300px;
}
