* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: gray;
}

.wrapper {
	min-height: 100%;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
}

.info {
	margin: 100px 0;
}

.info-list {
	border: 1px solid #cfc9cf;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .3), 3px 20px 20px -23px rgba(0, 0, 0, .8);
}

.info-list__item {
	display: block;
	line-height: ;
	border-bottom: 1px solid #cfc9cf;
	position: relative;
	height: 60px;
}

.info-list__item:last-child {
	border-bottom: none;
	height: 100%;
	margin-bottom: 10px;
}

.info--sprite {
	display: inline-block;
	height: 35px;
	width: 40px;
	background-image: url(../images/SVG-icons.png);
	position: relative;
	top: 11px;
	margin: 0 10px;
}

.info--sprite_m1 {
	background-position: -110px -40px;
}
.info--sprite_m2 {
	background-position: -110px -77px;
}
.info--sprite_m3 {
	background-position: 0px -150px;
	float: left;
}

.info--text {
	display: inline-block;
  max-width: 1029px;
}

.info--text_m {
	float: left;
	margin-top: 20px;
	line-height: 1.2;
}

.info--special {
	display: inline-block;
	height: 35px;
	vertical-align: middle;
	cursor: progress;
}

.info--btn {
	background-color: gray;
	color: #fff;
	padding: 10px 15px;
	text-align: left;
	border-radius: 4px;
	position: absolute;
	right: 20px;
}

.btn-bg_1 {
	background-color: #0a874b;
}

.btn-bg_2 {
	background-color: #FF7F50;
}

.btn-bg_3 {
	background-color: #FF5733;
	position: absolute;
  top: 15px;
}

.circle__shadow {
	height: 300px;
	width: 300px;
	background-color: aliceblue;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: inset 2px 15px 1px 11px rgba(75, 166, 96, 0.9),
	inset 0px -15px 1px 11px rgba(43, 130, 207, 0.9),
	inset 30px -15px 1px 1px rgba(219, 22, 193, 0.9),
	inset -35px -1px 1px 0px rgba(219, 35, 22, 0.7),
	2px 15px 1px 11px rgba(75, 166, 96, 0.9),
	0px -15px 1px 11px rgba(43, 130, 207, 0.9);
}
